<div class="container">
	<h2>All Accounts</h2>
	<div class="table-responsive"> 
		<table class="table table-bordered table-striped"> 
			<colgroup> 
				<col class="col-xs-3">
				<col class="col-xs-3">
				<col class="col-xs-3">
				<col class="col-xs-3">
			</colgroup> 
			<thead> 
				<tr> 
					<th>Email</th> 
					<th>Account Number</th>
					<th>Balance</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody>
				<% @accounts.each do |account| %>
				<tr>
					<th scope="row"> 
						<code><%= account.user.email %></code> 
					</th> 
					<td><%= account.try(:number) %></td> 
					<td><%= account.try(:amount) %></td>
					<td>
						<%= link_to "Deposit", new_member_transaction_path(account.user.id, "deposit") %> |
						<%= link_to "Withdraw", new_member_transaction_path(account.user.id, "withdraw") %> |
						<%= link_to "Details", account_path(account.id)  %>
					</td>
				</tr>
				<% end %>
			</tbody> 
		</table> 
	</div>
</div>